<!doctype html>
<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  <link rel="stylesheet" href="app.component.css">

</head>

  <body>
  <!-- Navbar -->

  <!-- Navbar -->


  <!---Background -->

  <div class="container">
    <div class="header" id="contact">
        <div class="header-text">
          <h1>SYED YAEESH</h1>
          <p>Full Stack Developer & UI/UX Designer</p>
          <div class="con-button" type="con-button"><a href="tel:+91 7795-505-225" id="con-link">Contact me</a></div>
        </div>
        </div>
  </div>




  <!---Background end-->


  <!--- About me-->

  <div id="about" class="about">
    <div class="container">
      <div class="image-border">
       <div class="about-img"></div>
      </div>
        <div class="parah">
           <p><strong> Hello! Im Yaeesh</strong> <br> Self-taught Web developer and Self-taught UI/UX Designer, Striving to become great at his job! wants bigger things in life. finds passion in creating websites  Studying B.B.A and obsessed in learning about Web development .I am currently available for full-time and freelance work If you want to hire me then <br> <a id="con-link" href="#contact" ><strong>Contact me.</strong></a> </p>
           <button type="button" class="cv-button"> <a href="../assets/pdf/SyedYaeesh_Resume.pdf" target="_blank" id="con-link" >View my cv</a></button>
       </div>
    </div>
  </div>

  <!---About me end-->


  <!---my skills-->
  <h2>My Skill </h2>

  <div class="container">
    <div class="bar advanced" data-skill="HTML"></div>
    <div class="bar styles intermediate" data-skill="CSS"></div>
    <div class="bar bootstrap intermediate" data-skill="Bootstrap"></div>
    <div class="bar angular learning" data-skill="Angular"></div>
    <div class="bar mongo learning" data-skill="MongoDB"></div>
  </div>

  <!---My skills end-->


  <!---My services-->
  <h2>Service</h2>

  <div class="services" id="service">
    <div class="card">
      <div class="imgBx">
        <img src="https://image.flaticon.com/icons/svg/2092/2092063.svg" alt="">
      </div>
      <div class="contentBx">
        <h2>Web Design</h2>
        <p> I value simple content structure, clean design pattern ,My perspective to website design is to create a website that attracts the visitor</p>

      </div>

    </div>
    <div class="card">
      <div class="imgBx">
        <img src="https://image.flaticon.com/icons/svg/1197/1197460.svg" alt="">
      </div>
      <div class="contentBx">
        <h2>Web development</h2>
        <p> Coding is fun so my code will bring the creativity to the websites </p>
      </div>

    </div>
    <div class="card">
      <div class="imgBx">
        <img src="../assets/images/wordpress.png" alt="">
      </div>
      <div class="contentBx">
        <h2>Wordpress</h2>
        <p> Wordpress CMS is a user-friendly administrative area allowing you to easily edit your website's content.</p>

      </div>

    </div>
  </div>

  <!---My services end-->



  <!--Portfolio -->

  <!--Portfolio end -->


  <!-- social links-->

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


  <h2>Socialise With Me</h2>

<div class="wrapper">

  <div class="box">
    <a href="https://www.facebook.com/syedyaeesh"  target="_blank" style="color: black;">
    <i class="fa fa-facebook" aria-hidden="true"></i></a>
  </div>

  <div class="box">
    <a href="https://www.instagram.com/7aeesh/"  target="_blank" style="color: black;">
    <i class="fa fa-instagram" aria-hidden="true"></i></a>
  </div>

  <div class="box">
    <a href="https://www.linkedin.com/in/yaeesh-syed-b36103171/"  target="_blank"  style="color: black;">
    <i class="fa fa-linkedin" aria-hidden="true"></i></a>
  </div>

  <div class="box">
  <a href="mailto:yaeesh@gmail.com?subject=Mail from our Website"  target="_blank"  style="color: black;">
    <i class="fa fa-envelope" aria-hidden="true"></i></a>
  </div>

</div>


<!-- social links end-->




</body>

<!-- footer-->

<div class="footer">
  <p>Developed with angular by <strong>Syed Yaeesh</strong></p> <br>
 <p> yaeeshsyed@gmail.com</p>
</div>


<!-- footer end-->

</html>
