/*
COLORS:
text-color : #3a3a3a
background-color : #dde1e7

*/



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #dde1e7;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
}


h1 {
  color: #3a3a3a;
  font-size: 48px;
  letter-spacing: 2px;
  font-weight: 900;
  font-family: 'Montserrat';
}

h2 {
  padding-bottom: 2%;
  color: #3a3a3a;
  text-align: center;
  font-size: 32px;
  font-weight: 800;
  font-family: 'Montserrat';
  text-transform: uppercase;
  letter-spacing: 2px;
}

h3 {
  text-align: center;
  font-size: 32px;
  font-weight: 800;
  font-weight: normal;
  font-family: 'Montserrat';
  text-transform: uppercase;
  letter-spacing: 2px;
}

p {
  color: #3a3a3a;
  font-size: 16px;
  font-family: 'Montserrat';
}


#con-link { color: #3a3a3a;text-decoration: none; }

/*Navbar*/



/*Navbar End*/


/*Background*/

@media only screen and (min-device-width: 400px) {
  .header {
    background-image: url('../assets/images/header.jpeg');
  }
}


.header {
  background-image: url(../assets/images/header.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 60vh;
}


.header-text {
  position: absolute;
  top: 100px;
  left: 40px;
  font-family: 'Montserrat';
  line-height: 1.0;
}


/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 400px) {
  .header-text h1{
    font-size: 20px;
  }
}

@media screen and (max-width: 400px) {
  .header-text p {
    font-size: 8px;
  }
}


.con-button {
  margin-top: 2%;
  position: relative;
  padding: 8px;
  width: 200px;
  background-color: #dde1e7;
  border: none;
  border-radius: 32px;
  color: #3a3a3a;
  font-family: 'Montserrat';
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  transform: scale(0.98);
   box-shadow: -4px -4px 15px rgba(221, 225, 231,1), 4px 4px 15px rgba(0,0,0,0.2);
}

.con-button:hover {
  box-shadow: inset -4px -4px 10px rgba(221, 225, 231,0.5), inset 4px 4px 10px rgba(0,0,0,0.2);
}


.con-button:active {
  box-shadow: inset -2px -2px 6px rgba(221, 225, 231, .7),
              inset -2px -2px 4px rgba(221, 225, 231, .5),
              inset 2px 2px 2px rgba(221, 225, 231, .075),
              inset 2px 2px 4px rgba(0, 0, 0, .15);
}


@media screen and (max-width: 600px) {
  .con-button {
    padding: 4px;
    width: 160px;
    font-size: 12px;
  }
}

/*Background End*/





/*About*/

.about{
  text-align: center;
  margin-top: 4%;
  margin-bottom: 4%;
  line-height: 1.6;
  color: #3a3a3a;
}

.about-img {
  border: 8px solid #dde1e7;
  background-image: url(../assets/images/ProfileImage);
  background-size: 100%;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  object-fit: cover;
  transition: .2s ease-in-out;
  box-shadow:
  6px 6px 8px rgba(405, 235, 252, .075),
  6px 6px 10px rgba(0, 0, 0, .15);
}


.about-img:hover {
  box-shadow: -2px -2px 6px rgba(221, 225, 231, .6),
  -2px -2px 4px rgba(221, 225, 231, .4),
  2px 2px 2px rgba(221, 225, 231, .05),
  2px 2px 4px rgba(0, 0, 0, .2);
}

.parah p{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  position: relative;
  overflow: hidden;
  display: block;
  line-height: 1.6;
  width: 600px;
}

@media screen and (max-width: 600px) {
  .parah p{
    font-size: 16px;
    text-align: center;
    width: 80%;
  }
}





.cv-button {
  padding: 12px;
  width: 200px;
  background-color: #dde1e7;
  border: none;
  border-radius: 32px;
  color: #3a3a3a;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  transform: scale(0.98);
   box-shadow: -4px -4px 15px rgba(221, 225, 231,1), 4px 4px 15px rgba(0,0,0,0.2);
}

.cv-button:hover {
  box-shadow: inset -4px -4px 10px rgba(221, 225, 231,0.5), inset 4px 4px 10px rgba(0,0,0,0.2);
}


.cv-button:active {
  box-shadow: inset -2px -2px 6px rgba(221, 225, 231, .7),
              inset -2px -2px 4px rgba(221, 225, 231, .5),
              inset 2px 2px 2px rgba(221, 225, 231, .075),
              inset 2px 2px 4px rgba(0, 0, 0, .15);
}


/*About End*/


/*My Skills */
@keyframes load{
  from {
    width: 0%
  }
}
@-webkit-keyframes load{
  from {
    width: 0%
  }
}
@-moz-keyframes load{
  from {
    width: 0%
  }
}
@-o-keyframes load{
  from {
    width: 0%
  }
}

.bar{
  margin-right: auto;
  margin-left: auto;
  width: 60%;
  background-color: #dde1e7;
  box-shadow:  6px 6px 10px rgba(0, 0, 0, .15);
  padding: 6px;
  border-radius: 24px;
  margin-bottom: 2%;
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  font-family: 'Montserrat';
}
.bar::before{
  content:  attr(data-skill);
  background-color: #d12828;
  display: inline-block;
  padding: 2px 0 2px 8px;
  border-radius: inherit;
  animation: load 5s 0s;
  -webkit-animation: load 4s 0s;
  -moz-animation: load 4s 0s;
  -o-animation: load 4s 0s;
}

.bar.styles::before{
  background-color: #3090eb;
}

.bar.bootstrap::before{
  background-color: #6663f5;
}

.bar.angular::before{
  background-color: #ad4242;
}

.bar.mongo::before{
  background-color: #298b4e;
}

.bar.learning::before{
  width: calc(90% - 10px);
}
.bar.basic::before{
  width: calc(70% - 10px);
}
.bar.intermediate::before{
  width: calc(85% - 10px);
}
.bar.advanced::before{
  width: calc(80% - 10px);
}
.bar.expert::before{
  width: calc(50% - 10px);
}


/*My Skills end*/



/*My Services */


.services
{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4%;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 1100px;
}
.services .card
{
  height: 400px;
  width: 310px;
  margin: 20px;
  padding: 40px 30px;
  background: #dde1e7;
  border-radius: 40px;
  box-shadow: -6px -6px 20px rgba(221, 225, 231,1), 6px 6px 20px rgba(0,0,0,0.1);
}
.services .card:hover
{
  box-shadow: inset -6px -6px 20px rgba(221, 225, 231,0.5), inset 6px 6px 20px rgba(0,0,0,0.05);
}
.services .card .imgBx
{
  position: relative;
  text-align: center;
}
.services .card .imgBx img
{
  max-width: 120px;
}
.services .card .contentBx
{
  position: relative;
  margin-top: 20px;
  text-align: center;
}



.services .card .contentBx h2
{
  color: #32a3b1;
  font-weight: 700;
  font-size: 24px;
}
.services .card .contentBx p
{
  color: #3a3a3a;
}

.services .card:hover .imgBx,
.services .card:hover .contentBx
{
  transform: scale(0.98);
}

@media (max-width: 768px) { /*breakpoint*/
  .services {
    flex-direction: column;
    width: auto;
  }
}

/*My Services end*/


/*Portfolio*/


/*Portfolio end*/



/* Social links */

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  background: #dde1e7;
  flex-direction: row;
  padding: 4%;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  width: 100px;
  height: 100px;
  background: #dde1e7;
  border-radius: 50%;
  margin: 0 10px;
  box-shadow: -3px -3px 7px #fff, 3px 3px 5px rgba(94, 104, 121, 0.712);
  position: relative;
}



.box i {
  cursor: pointer;
  background: #dde1e7;
  font-size: 32px;
  text-shadow: -3px -3px 7px #fff, 3px 3px 5px rgba(94, 104, 121, 0.712);
  transition: 1s ease;

}
.box:hover i {
  color: dodgerblue;
  transform: rotate(360deg);
}

/* Social links end */


/*footer*/
.footer {
  position: relative;
  padding: 2%;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #dde1e7;
  color: #dde1e7;
  text-align: center;
  line-height: .9;
}

/*footer end */

